/* Log In */
.login_area{
  
    margin: 66px 0;

    .login_row{
        max-width: 580px;
        margin: 0 auto;
        text-align: center;
        h4{
            font: 400 18px/1 $lato;
            color: $h;
            padding: 25px 0;
            a{
                color: $hover;
                text-decoration: underline;
            }
        }
        h6{
            font: 400 16px/1 $lato;
            color: $h;
        }
        .with_social{
            padding-top: 25px;
            padding-bottom: 32px;
            li{
                list-style: none;
                display: inline-block;
                padding-left: 7px;
                &:first-child{
                    padding-left: 0;
                }
                a{
                    width: 180px;
                    background: #50abf1;
                    border-radius: 5px;
                    color: #fff;
                    line-height: 42px;
                    font-size: 22px;
                    &.facebook{
                        background: #39579a;
                    }
                    &.google-plus{
                        background: #e24a31;
                    }
                }
            }
        }
        .input_group{
            width: 320px;
            margin: 0 auto;
            .input-field{
                input{
                    border: 1px solid rgb(224, 229, 232);
                    border-radius: 3px;
                    background: #fff;
                    font: 400 14px/42px $lato;
                    color: $p;
                    box-shadow: none;
                    padding: 0 20px;
                    box-sizing: border-box; 
                    margin-bottom: 10px;
                }
            }
            p{
                padding-bottom: 30px;
                label{
                    font: 400 15px/21px $lato;
                    color: $h;
                    padding-left: 27px;
                    width: 100%;
                    &:after{ 
                        background: #fff;
                    }
                    a{
                        font: 400 15px/1 $lato;
                        color: $h;
                        text-decoration: underline;
                        float: right;
                        &:hover, &:focus{
                            color: $hover;
                        }
                    }
                }
            }
            button{
                background: $hover;
                color: #fff;
                font: 900 14px/42px $lato;
                text-transform: uppercase;
                border: 0; 
                border-radius: 3px;
                display: block;
                width: 100%;
            }
        }
    }
}      
[type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after{
    border: 1px solid rgb(224, 229, 232); 
}
/* End Log In */
